/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global*/

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

/*main index*/
/*header*/

body {
	background-color: #666;
}

.container {
	width: 1000px;
	margin: auto;
}

.head {
	margin-top: 10px;
	width: 1000px;
	height: 200px;
	background: #fff;
}

.head img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Nav Bar*/

.nav {
	width: 1000px;
	background-color: black;
	height: 50px;
	color: white;
	font-size: 3.5rem;
}

/*Main Content*/

.main {
	width: 750px;
	min-height: 500px;
	background-color: cornflowerblue;
	float: left;
}

/* Side Bar */

.side {
	width: 250px;
	min-height: 500px;
	background-color: darkgreen;
	float: right;
}

/*footer*/

.bottom {
	width: 1000px;
	background-color: darkred;
	min-height: 150px;
	color: white;
}
